{% include "header.html" %}
{% include "menu.html" %}

<hr>
<form action="/tags" method="POST">
<div class="container w-50">
    <div class="row">
        <label for="type" class="col-2">Type</label>
        <div class="col">
            <input type="text" class="form-control" id="type" name="type" placeholder="Enter category of new tag">
        </div>
    </div>
    <div class="row">
        <label for="tag" class="col-2">Name</label>
        <div class="col">
            <input type="text" class="form-control" id="tag" name="tag" placeholder="Enter name of new tag">
        </div>
    </div>
        <div class="col">
            <input type="submit" class="btn btn-primary" value="Add new"/>
        </div>
</div>
</form>


<div class="container w-75 mt-5"><p class="h1 text-center">Tag List</p><hr></div>

<div class="container w-50">
    <div class="row justify-content-center">
    {% for tag in tags %}
    {% for key,value in tag.items() %}
        <div class="col w-25">
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                <th class="table-dark text-center"><h3>{{ key }}</h3></th>
                <th class="table-dark text-center"></th>
                </tr>
                </thead>
              <tbody>
              {% for val in value %}
                <tr class="align-middle">
                    <td class="text-center text-wrap">{{ val }}</td>
                    <td>
                        <form action="/tags" method="POST">
                            <input type="hidden" id="to_delete" name="to_delete" value="{{ key }}:{{ val }}">
                            <button type="submit" class="btn"><i class="bi bi-trash"></i></button>
                        </form>
                    </td>
                </tr>
              {% endfor %}
              {% endfor %}
              </tbody>
            </table>
        </div>
    {% endfor %}
    </div>
</div>

{% include "footer.html" %}
