{% include "header.html" %}
{% include "menu.html" %}
<p class="h1">Words List</p>
<hr>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Word</th>
        <th scope="col">Translation</th>
        <th scope="col">Page</th>
        <th scope="col">Tags</th>
      </tr>
    </thead>
    <tbody>
      {% for word in words %}
      <tr>
        <th scope="row">{{ word['id'] }} </th>
        <td>{{ word['word'] }}</td>
        <td>{{ word['translation'] }}</td>
        <td>{{ word['tags']['page'] }}</td>
        <td>
          <div class="alert alert-primary" role="alert">
          {% for tags in word['tags'] %}

            {% for key,value in tags.items() %}
              {% if key != "tagid" %}
                  {{ key }}:{{ value }},
              {% endif %}
            {% endfor %}
          {% endfor %}
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% include "footer.html" %}